<div class="planner-page">
  <div class="current-plan">
    <p>Your current plan:</p>
    <h5>Starter Trial &#8226; 500MAUs</h5>
  </div>
  <div class="cards-container">
    <div class="toggle-plan">
      <h3>Choose a plan</h3>
      <div class="toggle-switch-container">
        <p>Billed monthly</p>
        <label class="switch">
          <input
            type="checkbox"
            (ngModelChange)="toggleBoxChange($event)"
            [(ngModel)]="isToggled"
          />
          <span class="slider"></span>
        </label>
        <p>Billed anually</p>
      </div>
    </div>
    <div class="price-cards">
      <div class="price-cards">
        <div *ngFor="let card of priceCards" class="price-card">
          <div class="price-card-header">
            <h3>{{ card.name }}</h3>
            <p *ngIf="!isToggled">
              {{ card.prices.monthly
              }}<sub class="subscript-tags">{{ card?.rotations?.monthly }}</sub>
            </p>
            <p *ngIf="isToggled">
              {{ card.prices.yearly
              }}<sub class="subscript-tags">{{ card?.rotations?.yearly }}</sub>
            </p>
            <ng-container *ngIf="card.name === 'Pro'">
              <select name="monthly-packages" class="select-package">
                <option
                  *ngFor="let option of ['2500MAUs', '5000MAUs', '10000MAUs']"
                  [value]="option"
                >
                  {{ option }}
                </option>
              </select>
            </ng-container>
          </div>
          <ul class="list-features">
            <li *ngFor="let feature of card.features">{{ feature }}</li>
          </ul>
          <div class="card-footer">
            <button>{{ card.buttonData }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
